$primary600: #6DF6ED;
$primary300: #1FA9A0;
$gray900: #FFFFFF;
$gray800: #ECF6FF;
$gray700: #D6E8F7;
$gray600: #C4DBEE;
$gray200: #50616F;
$gray0: #1A2026;
$deafult: #253644;
$success300: #1EAF62;
$success600: #088348;
$error300: #FF4D4F;
$error600: #D62828;

$primary600-dark: #6DF6ED;
$primary300-dark: #1FA9A0;
$gray900-dark: #1A2026;
$gray800-dark: #253644;
$gray700-dark: #D6E8F7;
$gray600-dark: #50616F;
$gray200-dark: #C4DBEE;
$gray0-dark: #FFFFFF;
$deafult-dark: #ECF6FF;
$success300-dark: #1EAF62;
$success600-dark: #088348;
$error300-dark: #FF4D4F;
$error600-dark: #D62828;
